@import "variables";
@import "mixins";
@import "reset";

@import "Filters";
@import "CharacterList";
@import "CharacterCard";

body {
  background-color: $colorBlack;
  width: 100%;
  box-sizing: border-box;
}

.page {
  display: grid;
  padding: 5rem;
  text-align: $textTransform;
}
