.card {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  border-radius: 1.5rem;
  margin: 2rem;
  border: $colorGreen 0.3rem solid;
  background-color: $colorBlue;
  width: 18rem;

  @media all and (min-width: 768px) {
    width: 22rem;
  }

  &__image {
    border-top-left-radius: 1rem;
    border-top-right-radius: 1rem;
    width: 100%;
  }

  &:hover {
    background-color: $colorGreen;
    box-shadow: 0.2rem 0.2rem 2.5rem $colorWhite;
    transition-duration: 0.4s;
  }

  &__title {
    @include CardTitle;
  }

  &__text {
    @include CardText;
  }

  &__icon {
    @include CardsIcons;
  }

  &__btn {
    @include CardButton;
  }

  &--detail {
    padding: 2rem;

    &__image {
      border-radius: 50%;
      height: 30%;
      padding: 2rem;
    }
  }
}
