.form {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  &__input {
    @include InputSearch;

    @media all and (min-width: 768px) {
      width: 30rem;
    }

    &::placeholder {
      font-family: $fontFamily;
      color: $colorDarkGrey;
      font-size: $fontSizeCardText;
    }

    &:hover {
      box-shadow: 0.2rem 0.2rem 2.5rem $colorWhite;
    }
  }
}
