.form {
  height: 100%;
  display: flex;
  justify-content: center;
  padding: 30px;
}

.form__input-text {
  border: cyan 1px solid;
  text-align: center;
  padding: 5px;
  width: 50%;
}

.form__input-text::placeholder {
  color: white;
}
