// color

$colorBlack: #000000;
$colorLightGrey: #f5f5f5;
$colorGrey: #6b6b6b;
$colorDarkGrey: #54585a;
$colorDarkGreenBlue: #114e4e;
$colorBlue: #438792;
$colorGreen: #00c800;
$colorWhite: #ffffff;
$colorLightGreyBlue: #00cad1;

// fonts

$fontFamilyTitle: "Montserrat", sans-serif;

$fontSizeTitle: 1.8rem;
$fontSizeText: 1.6rem;
$fontSizeCardTitle: 1.8rem;
$fontSizeCardText: 1.4rem;

$fontWeightCardTitle: 600;

$textTransformTitle: center;
