// color

$colorBlack: #000000;
$colorWhite: #ffffff;
$colorGrey: #6b6b6b;
$colorDarkGrey: #54585a;
$colorBlue: #4be7ff;
$colorGreen: #00c800;

// fonts

$fontFamily: "Gugi", cursive;

$fontSizeCardTitle: 1.8rem;
$fontSizeCardText: 1.4rem;

$fontWeightCard: 600;

$textTransformCard: center;
