// color

$colorBlack: #000000;
$colorWhite: #ffffff;
$colorGrey: #6b6b6b;
$colorDarkGrey: #54585a;
$colorBlue: #4be7ff;
$colorGreen: #00c800;

// fonts

$fontFamily: "Montserrat", sans-serif;

$fontSizeCardTitle: 2rem;
$fontSizeCardText: 1.6rem;

$fontWeightCard: 600;

$textTransformCard: center;
